extends layout

block content
  .pb-2.mt-2.mb-4.border-bottom
    h3 Send Document

  form(enctype='multipart/mixed', method='POST', id="applicationForm")
    input(type='hidden', name='_csrf', value=_csrf)
    .form-group.row
      label(class='col-md-2 col-form-label font-weight-bold', for='receivermobilenumber') Recipient Mobile #
      .col-md-2
        input.form-control(type='number', name='receivermobilenumber', id='receivermobilenumber', autofocus=true)
    .form-group
      .offset-md-2.col-md-8.p-1
        input#btnSubmit.button(name='btnSubmit', type='button', value='Retrieve')
    table#main_table(align='center', border='1', hidden='')

    script(src="/js/jquery-3.3.1.min.js")
    script(type="text/javascript").
      $(document).ready( () => {
        var th = '<th>Document Id</th><th>Document Name</th><th>Enter OTP</th><th>Action</th>';
        $('#main_table').append(th);
        $("#btnSubmit").click((event) => {
          //stop submit the form, we will post it manually.
          //event.preventDefault();
          fetchDocuments();
        });
      });
      
      function fetchDocuments() {
        $('#main_table').prop('hidden', false);
        $("#main_table").find("tr").remove();
        var docurl = '/getdocuments?receivermobilenumber=' + $("#receivermobilenumber").val();
        $.ajax({
          type: "GET",
          url: docurl,
          dataType:"json",
          success: (result) => {
            if(result.indexOf("Un-authorize") === -1){
              $.each(result, function( key, data ) {
               tr = $('<tr/>');
               tr.append("<td>" + data.id + "</td>");
               tr.append("<td>" + data.filename + "</td>");
               
               //var hiddenid = $("<input type=\"hidden\" id=\"id_" + data.id + "\" name=\"id_" + data.id + "\ value=\"" + data.id + "\" />");
               var otpfield = $("<input type=\"text\" id=\"otp_" + data.id + "\" name=\"otp_" + data.id + "\" />");
               var column = $('<td></td>');
               column.append(otpfield);
               tr.append(column);
               
               var clickme = $('<input />', {
                  type  : 'button',
                  value : 'GetOTP',
                  id    : 'btnOtp',
                  name  : 'btnOtp',
                  on    : {
                     click: function() {
                         getOtp(data.id);
                     }
                  }
               });
               var otpme = $('<input />', {
                  type  : 'button',
                  value : 'Fetch',
                  id    : 'btnFetch',
                  name  : 'btnFetch',
                  on    : {
                     click: function() {
                         fetchDocument(data.id);
                     }
                  }
               });
               column = $('<td></td>');
               column.append(otpme);
               column.append(clickme);
               tr.append(column);
               $('#main_table').append(tr);
              })
            }
        }
       });
      }
      
      function fetchDocument(docid) {
        var table = $('#main_table');
        var tempdocid = '';
        var otp = '';
        table.find('tr').each(function (i) {
            var $tds = $(this).find('td');
            tempdocid = $tds.eq(0).text();
            if(tempdocid.match(docid)) {
                otp = $(this).find("td:eq(2) input[type='text']").val();
            }
        });
        
        var docurl = '/getdocument?docid=' + docid + '&otp=' + otp;
        location.href = docurl;
      }
      
      function getOtp(docid) {
        var docurl = '/getotp?docid=' + docid;
        $.ajax({
          type: "GET",
          url: docurl,
          dataType:"json",
          success: (result) => {
            alert(result.message);
          }
       });
      }